table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
    text-align: center;
}
    table tbody tr td input {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        background: transparent; /* Optional: to blend in */
    }

     table tbody tr td input:focus {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
        }


    th {
        padding: 8px;
    }
    table tfoot tr td {

        padding: 8px;
    }
    table tbody tr td {
        padding: 0px;
    }

        #editableTable {
            border-color: #EBEBEB;
        }

    #editableTable,
    #editableTable th,
    #editableTable td {
        border: 1px solid #EBEBEB; /* Black border, can change color */
    }

        #editableTable thead tr {
            background-color: #E51E35;
            color: white;
            height: 20px;
        }

        #editableTable tbody tr {
            height: 15px;
        }

        #editableTable tfoot tr {
            border: 1px solid black;
            background-color : white;
            height: 15px;
        }

input {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.total-cell {
    font-weight: bold;
    background-color: white;
}

.form-row {
    margin-bottom: 15px;
}

    .form-row label {
        min-width: 220px;
        margin-right: 10px;
        font-weight: 500;
    }

.selected {
    background-color: #d1ecf1;
}

input[type="text"],
input[type="date"],
input[type="number"],
select,
textarea {
    background-color: white; /* background only on input fields */
    color: black;
    padding: 5px 10px;
    flex: 1;
    width: 100%;
}

    input[type="text"]:focus,
    input[type="date"]:focus,
    input[type="number"]:focus,
    select:focus,
    textarea:focus {
        border-color: #EBEBEB; /* Change border color on focus */
        outline: none; /* Remove default browser outline */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional glow effect */
    }

textarea {
    resize: vertical;
}

.row {
    margin-bottom: 5px;
}

.container-fluid {
    padding: 30px;
}

.form-label {
    margin-bottom: 0px;
}
.form-check {
    margin-bottom: 0px;
}

.pleft {
    padding-left: 8px;
}