<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase List</title>
    <link rel="stylesheet" href="~/css/Purchase/PurchaseList.css" />
</head>
<body>


    <div class="title m-0">
        <p class="m-0">Purchase List</p>
    </div>
    <div class="container-fluid">
        <div class="filter row align-items-center justify-content-end">
            <div class="col-lg-2 d-block col-sm-12">
                <label for="cbCompany" class="form-label mb-2">Company :</label>
                <select id="cbCompany" class="w-100">
                    <option value="">All</option>
                    <option value="KCRI">KCRI</option>
                    <option value="EPR">EPR</option>
                </select>
            </div>
            <div class="col-lg-2 col-sm-12">
                <label for="cbStatus" class="form-label mb-2 d-block">Status:</label>
                <select id="cbStatus" class="w-100">
                    <option value="">All</option>
                    <option value="Completed">Completed</option>
                    <option value="Pending">Pending</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>

            <div class="col-lg-2 d-block col-sm-12">
                <label for="txtFromDate" class="form-label mb-2">From Date :</label>
                <input type="date" id="txtFromDate" class="w-100" />
            </div>
            <div class="col-lg-2 d-block col-sm-12">
                <label for="txtToDate" class="form-label mb-2">To Date :</label>
                <input type="date" id="txtToDate" class="w-100" />
            </div>
        </div>
        <div class="d-flex mt-2 align-items-center justify-content-start">
            <p class="mx-2 mb-0">Show</p>
            <select class="mx-2  " style="width: auto;">
                <option value="">10</option>
                <option value="">20</option>
                <option value="">30</option>
                <option value="">40</option>
                <option value="">50</option>
            </select>
            <p class="mb-0">entries</p>
        </div>

        <div class="table-responsive mt-1">
            <table id="purchaseTable" class="display table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">PR No</th>
                        <th class="text-center">Requested Date</th>
                        <th class="text-center">Require Date</th>
                        <th class="text-center">Company</th>
                        <th class="text-center">Division</th>
                        <th class="text-center">Purpose</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
          
        </div>
        <div class="page">
            <div class="row">
                <div class="btn-all d-flex justify-content-end align-items-center">
                    <button class="btn-previous">Previous</button>
                    <button class="btn-active">1</button>
                    <button class="btn-addPage">2</button>
                    <button class="btn-next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Purchase/PurchaseList.js"></script>
</body>
</html>
