<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KCRI_ePR</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/XSAlert/css/XSAlert.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid p-0">
            <!-- Logo -->
            <a class="navbar-brand ms-2" href="/">
                <img src="~/images/KCRI_RED_logo.jpg" alt="Logo">
            </a>

            <!-- Hamburger Button for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Purchase" asp-action="PurchaseRequest">
                            Purchase Request
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Purchase" asp-action="PurchaseList">
                            Purchase List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Purchase" asp-action="PurchaseReport">
                            Purchase Report
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Help">
                            Help
                        </a>
                    </li>

                </ul>
                <!-- Logout Link aligned to the right -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Login">
                            <i class="fas fa-user"></i> Lorn Bunchuy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluide">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/js/comboManager.js"></script>
    <script src="~/lib/XSAlert/js/XSAlert.js"></script>
    <script type="text/javascript" src="~/lib/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="~/js/requestHandle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
